body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121223;
  color: white;
  text-align: center;
}
button {
  background-color: #ff8734;
  color: white;
  border: none;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
img {
  max-width: 100%;
  border-radius: 1rem;
}
.audio-control {
  margin-top: 1rem;
}
.subtitle {
  background: rgba(0,0,0,0.6);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}